/*
//////////////////////////////////////////
///////////////////// general
//////////////////////////////////////////
*/
:root {   
   --paleta-blanco: #f6f6f6;
   --paleta-gris: #ccc; 
   --paleta-negro: #343434;
   --paleta-rojo:tomato;
   --paleta-azul: steelblue;

   --tablero-gap-size: 5px;
   --tablero-gap-qty: 2;
  
   --tablero-size: 300px;
   --tablero-extra-width: calc(var(--tablero-gap-qty) * var(--tablero-gap-size));
   --tablero-width: calc(var(--tablero-size) + var(--tablero-extra-width));
   --tablero-height: var(--tablero-width);

   --casilla-width: 100px;
   --casilla-height: var(--casilla-width);

   --z-index-discreto: 1;
   --z-index-regular: 2;
   --z-index-sobresaliente: 3;
}

* {
   box-sizing: border-box;
   text-align: center;
   font-family: Verdana;
   color: var(--paleta-negro);
   font-weight: bold;
}

body {
   background-color: var(--paleta-gris);
}

.alternador {
   display: none;
}


/*
//////////////////////////////////////////
///////////////////// tablero
//////////////////////////////////////////
*/
.tablero {
   display: grid;   

   width: var(--tablero-width);
   height: var(--tablero-height);   
   
   left: 0; 
   right: 0; 
   margin: 0 auto;    
   
   grid-gap: var(--tablero-gap-size);
   grid-template-columns: repeat(3, auto);
   
   background-color: var(--paleta-negro);   
}

.tablero::after {
   content: "Turno de la 'X'";
   display: inline-block;

   width: var(--tablero-width);   
   padding-top: 30px;
   
   position: absolute;
   top: var(--tablero-height);
   
   font-size: 26px;
}

/* habilita marcar la letra 'o' en turnos pares */
.tablero:has(.alternador:checked) .casilla-o,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked) .casilla-o, 
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked) .casilla-o,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked) .casilla-o,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked) .casilla-o {
   z-index: var(--z-index-sobresaliente);
}

/* inhabilita marcar la letra 'o' en turnos impares */
.tablero:has(.alternador:checked ~ .alternador:checked) .casilla-o, 
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked) .casilla-o,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked) .casilla-o,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked) .casilla-o {
   z-index: var(--z-index-discreto);
}

/* muestra un mensaje que notifica que es turno del jugador de la letra 'o' */
.tablero:has(.alternador:checked)::after,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked)::after, 
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked)::after,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked)::after,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked)::after {
   content: "Turno del 'O'";
}

/* muestra un mensaje que notifica que es turno del jugador de la letra 'x' */
.tablero:has(.alternador:checked ~ .alternador:checked)::after, 
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked)::after,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked)::after,
.tablero:has(.alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked ~ .alternador:checked)::after {
   content: "Turno de la 'x'";
}
/*
//////////////////////////////////////////
///////////////////// casilla
//////////////////////////////////////////
*/
.casilla {
   height: var(--casilla-height);
   width: var(--casilla-width);
   background-color: var(--paleta-blanco);
}

.casilla::before {
   display: block;

   width: var(--casilla-width);
   height: var(--casilla-height);  

   font-size: 34px;
   line-height: var(--casilla-height);  
}

.casilla-o, .casilla-x {
   display: block;
   
   width: var(--casilla-width);
   height: var(--casilla-height);
   
   position: absolute;
   z-index: var(--z-index-regular);   

   cursor: pointer;
}

.casilla-o {
   z-index: var(--z-index-discreto);  
}

/* marca una casilla con la letra 'x' */
#x-1:checked ~ .casilla:has(label[for="x-1"])::before, 
#x-2:checked ~ .casilla:has(label[for="x-2"])::before, 
#x-3:checked ~ .casilla:has(label[for="x-3"])::before, 
#x-4:checked ~ .casilla:has(label[for="x-4"])::before, 
#x-5:checked ~ .casilla:has(label[for="x-5"])::before, 
#x-6:checked ~ .casilla:has(label[for="x-6"])::before, 
#x-7:checked ~ .casilla:has(label[for="x-7"])::before, 
#x-8:checked ~ .casilla:has(label[for="x-8"])::before,
#x-9:checked ~ .casilla:has(label[for="x-9"])::before {
   content: "X";
   color: var(--paleta-rojo);
   background-color: var(--paleta-gris);
}

/* marca una casilla con la letra 'o' */
#o-1:checked ~ .casilla:has(label[for="o-1"])::before, 
#o-2:checked ~ .casilla:has(label[for="o-2"])::before, 
#o-3:checked ~ .casilla:has(label[for="o-3"])::before, 
#o-4:checked ~ .casilla:has(label[for="o-4"])::before, 
#o-5:checked ~ .casilla:has(label[for="o-5"])::before, 
#o-6:checked ~ .casilla:has(label[for="o-6"])::before, 
#o-7:checked ~ .casilla:has(label[for="o-7"])::before, 
#o-8:checked ~ .casilla:has(label[for="o-8"])::before,
#o-9:checked ~ .casilla:has(label[for="o-9"])::before {
   content: "O";
   color: var(--paleta-azul);
   background-color: var(--paleta-gris);
}

/* inhabilita marcar en casillas ya marcadas */
#o-1:checked ~ #casilla-1 label, 
#x-1:checked ~ #casilla-1 label,

#o-2:checked ~ #casilla-2 label, 
#x-2:checked ~ #casilla-2 label,

#o-3:checked ~ #casilla-3 label, 
#x-3:checked ~ #casilla-3 label,

#o-4:checked ~ #casilla-4 label, 
#x-4:checked ~ #casilla-4 label,

#o-5:checked ~ #casilla-5 label, 
#x-5:checked ~ #casilla-5 label,

#o-6:checked ~ #casilla-6 label, 
#x-6:checked ~ #casilla-6 label,  

#o-7:checked ~ #casilla-7 label, 
#x-7:checked ~ #casilla-7 label,

#o-8:checked ~ #casilla-8 label, 
#x-8:checked ~ #casilla-8 label,

#o-9:checked ~ #casilla-9 label, 
#x-9:checked ~ #casilla-9 label {
   display: none;
}